<div class="blog-post">
    <textarea id="postText" placeholder="What's on your mind?"></textarea>
    <button class="btn btn-default pull-right" id="post-button" type="submit">Post</button>
</div><!-- /.blog-post -->
