<div class="blog-post">
    {#<h2 class="blog-post-title">Sample post</h2>#}
    {#<p class="blog-post-meta">{{ post.added }} by <a href="#">{{ post.user }}</a></p>#}
    <textarea id="postText" placeholder="What's on your mind?"></textarea>
    <button class="btn btn-default pull-right" id="post-button" type="submit">Post</button>
</div><!-- /.blog-post -->
